@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 pt-2">Welcome To CRUD Application</h1>
    <p><a asp-controller="Category" asp-action="Index">More action here</a></p>
</div>
