@model Category
@{
    ViewData["Title"] = $"Delete {Model.Name}";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete @Model.Name Category?</h2>
            <hr />
        </div>
        @*ValidationSummary*@
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input disabled asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input disabled asp-for="DisplayOrder" class="form-control" />
        </div>
        <button class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Cancel</a>
    </div>
</form>

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}